    @font-face {
        font-family: poppins;
        src: url(poppins/Poppins-Light.ttf);
    }

    body {
        background-color: black;
        font-family: poppins;
    }

    #welcome-div {
        background-color: #1db954;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 200%;
    }
  
  h1 {
    color: white;
    text-align: center;
  }

  h2 {
    color: white;
    text-align: center;
  }
  
  
  p {
    font-family: poppins;
    font-size: 20px;
  }